body {
    background-color: #3f3f49;
    font-family: 'Exo 2', sans-serif;
    margin: 0;
    color: white;
    background: url('https://vsthemes.org/uploads/posts/2020-10/1603470086_screenshot_15.jpg');
}

.nav {
    padding: 0px 40px 0px 40px;

    height: 70px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.mylogo {
    border: 2px solid grey;
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.navtext {
    color: white;
    font-size: 25px;
    left: 0;
    vertical-align: middle;
}


.intro {
    
    padding-top: 150px;
    text-align: center;
    height: 400px;

}

.introtext {
    color: white;
    font-size: 50px;
}
.introdesc {
    color: white;
    font-size: 30px;
    
}

.titlew {
    color: black;
    font-size: 40px;
    padding-top: 40px;
} 
.btns {
    justify-content: space-between;
    position: relative;
    display: block;


}

.btni {
    margin: 0 10px;
    color: white;
    font-size: 40px;
    text-decoration: none;
    transition: 0.2s ease;
}

.btni:hover {
    color: teal;
}

.i {
    color: white;

}

.clock {
    color: white;
    font-size: 20px;
}



.wrapper {
    background-color: #212529;
    border-radius: 3px;

    margin: 10px 10px;
    transition: 0.2s ease;
    text-decoration: none;
    color: white;
}

.wrapper:hover {
    background-color: #2c2f33;
    color: white;
}
.wrapper__image {
    height: 100px;
    width: 100px;
    margin: 10px 0;
}

.wrapper__title {
    text-decoration: none;
}


.circle {
    border-radius: 100%;
}



@media (max-width:290px) {
    .introtext {
        font-size: 40px;
    }
}

@media (max-width:290px) {
    .introtext {
        font-size: 30px;
    }
}
